= content_for(:page_header) do
  .d-flex.justify-content-between.w-100
    %h2= Movie.model_name.human(count: 2)

.mb-4
  = form_tag(import_movies_path, id: "import-form", multipart: true) do
    = file_field_tag 'file', required: true, accept: Movie::FILE_TYPES.join(",")
    = submit_tag(t("misc.import"), class: "btn btn-primary")

= turbo_stream_from "movies-list"

= content_for(:empty) do
  = render "empty"

= content_for(:sort) do
  = sort_menu_from_filter(@filter)

= content_for(:search) do
  = render "shared/search",
    url: movies_path,
    placeholder: t(".search.placeholder"),
    records: @movies

= render "shared/records", records: @movies, total: @total
