= content_for(:page_header) do
  .d-flex.justify-content-between.w-100
    %h2= Review.model_name.human(count: 2)

.mb-4
  = form_tag(import_reviews_path, id: "import-form", multipart: true) do
    = file_field_tag 'file', required: true, accept: Review::FILE_TYPES.join(",")
    = submit_tag(t("misc.import"), class: "btn btn-primary")

= turbo_stream_from "reviews-list"

= content_for(:empty) do
  = render "empty"

= content_for(:sort) do
  = sort_menu_from_filter(@filter)

= content_for(:search) do
  = render "shared/search",
    url: reviews_path,
    placeholder: t(".search.placeholder"),
    records: @reviews do

    = render "search"

= render "shared/records", records: @reviews, total: @total
